---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        
        <div class="tag-post-list">
          <ul>
            <li>Freedom and Love</li>
            <li>系统/云初学者、NLP狂热者、CV爱好者，真·什么都会一点</li>
            <li>对于生活充满异常的热情、由音乐、书籍、错误组成的全部人生</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://www.zhihu.com/people/ycr222" target="_blank"> zhihu</a>
            </li>
            <li>
              <a href="https://github.com/JerryYin777" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://good.ncu.edu.cn/~YinCR" target="_blank">我的实验室主页</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>一项任务的价值，取决于它在时间尺度上的作用效率。花同样的功夫，我们应该尽量多做那些对整个人生都产生正面影响的事情，少做对中期的未来产生影响的事情，不做那些只对近期产生影响的事情。</li>
            <li>Nothing is true, everything is permitted.</li>
            <li>生一定会战胜死。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              详情可见Github，由于学业繁忙，这里过段时间再整理一下
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
