---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="Personal Info">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">About Me</h2>
        
        <div class="tag-post-list">
          <ul>
            <li><b>Freedom and Love</b></li>
            <li>对于生活充满异常的热情、由音乐、书籍、错误、矛盾组成的全部人生</li>
            <li>系统/云初学者、NLP狂热者、什么都会一点的人工智能大二本科在读生，梦想并<b>努力地成为一名System/NLP Ph.D</b></li>
            <li>A simple Resume：<a href="https://jerryyin777.github.io/pdf/Congrui_Yin_CV.pdf" target="_blank">Creallatie's Resume</a></li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Contact</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/JerryYin777" target="_blank">Crellatie's Github</a>:世界上最大的同性交友网站，我的所有项目都在上面，欢迎star+Follow喵~
            </li>
            <li>
              <a href="https://good.ncu.edu.cn/~YinCR" target="_blank">Me@GOODLAB</a>：练习时长一年的实验室练习生个人主页，欢迎来访~
            </li>
            <li>
              <a href="https://www.zhihu.com/people/ycr222" target="_blank">知乎</a>：谢邀，我在上面经常分享自己的技术贴，主要围绕NLP、系统、云计算、工具链等内容，欢迎来访~
            </li>
            <li>
              <a href="https://space.bilibili.com/351644409?spm_id_from=333.1007.0.0" target="_blank">Bilibili</a>：我在上面分享自己的技术视频，但是很希望有一天这个平台能够倒闭，欢迎来访~
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Project</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/JerryYin777/CreallatieBlog" target="_blank">Creallatie's Blog</a>：<b>你现在看到的这个界面，一款Astro搭建的仿苹果风个人博客</b>
            </li>
            <li>
              <a href="https://github.com/JerryYin777/NanoGPT-Pytorch2.0-Implementation" target="_blank">NanoGPT(Pytorch 2.x Version)</a>：NanoGPT的Pytorch2.0版本实现及分析(with 36 stars)
            </li>
            <li>
              <a href="https://github.com/JerryYin777/Linker" target="_blank">Linker</a>：Linker is a magic toolbox to create your own Live2D face
            </li>
            <li>
              <a href="https://github.com/JerryYin777/SoftwareCup_A9_2022" target="_blank">Creator</a>：Creator,一款智能创作平台，帮助用户快速生成标题和摘要
            </li>
          </ul>
        </div>
        </div>
      <div class="archive-tag">
        <h2 class="tag-header">Scientific Research</h2>
        <div class="tag-post-list">
          <ul>
            <li>Loading.</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Competition</h2>
        <div class="tag-post-list">
          <ul>
            <li>Loading.</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Thoughts</h2>
        <div class="tag-post-list">
          <ul>
            <li>一项任务的价值，取决于它在时间尺度上的作用效率。花同样的功夫，我们应该尽量多做那些对整个人生都产生正面影响的事情，少做对中期的未来产生影响的事情，不做那些只对近期产生影响的事情.</li>
            <li>Nothing is true, everything is permitted.</li>
            <li>生一定会战胜死.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
