---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">本站</a>
            <a href="https://github.com/JerryYin777/NanoGPT-Pytorch2.0-Implementation" target="_blank">NanoGPT</a>
            <a href="https://github.com/JerryYin777/SoftwareCup_A9_2022" target="_blank">Creator</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://twitter.com/JerryYin777" target="_blank">Twitter</a>
            <a href="https://github.com/JerryYin777" target="_blank">Github</a>
            <a href="https://www.zhihu.com/people/ycr222" target="_blank">知乎</a>
          </div>

          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://good.ncu.edu.cn/~YinCR/">Me@GOODLAB</a>
            <a href="https://kalorona.com/">Kalorona Huang</a>
            <a href="https://kechen666.github.io/EnglishPage.html">Ke Chen~</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`2018-${year}  ${SITE_NAME}`} All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</div>
